In [2]:
import pandas as pd
import os

In [8]:
print os.path.join('.','data','processed.cleveland.data')

./data/processed.cleveland.data

In [32]:

cleaveland = pd.read_csv(os.path.join('.','data','processed.cleveland.data'),names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num'], na_values=[-9.0,'?'])
hungarian = pd.read_csv(os.path.join('.','data','reprocessed.hungarian.data'),sep=' ',names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num'], na_values=[-9.0,'?'])
switzerland = pd.read_csv(os.path.join('.','data','processed.switzerland.data'),names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num'], na_values=[-9.0,'?'])
va = pd.read_csv(os.path.join('.','data','processed.va.data'),names=['age','sex','cp','trestbps','chol','fbs','restecg','thalach','exang','oldpeak','slope','ca','thal','num'], na_values=[-9.0,'?'])


for location in ['cleaveland','hungarian','switzerland','va']:
    cleaveland[location]=0
    hungarian[location]=0
    switzerland[location]=0
    va[location]=0

cleaveland['cleaveland']=1
hungarian['hungarian']=1
switzerland['switzerland']=1
va['va']=1

processedData = pd.concat([cleaveland,hungarian,switzerland,va])

In [33]:
processedData.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cleaveland,hungarian,switzerland,va
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0,1,0,0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2,1,0,0,0
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1,1,0,0,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0,1,0,0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0,1,0,0,0

In [34]:
cleaveland.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cleaveland,hungarian,switzerland,va
0,63,1,1,145,233,1,2,150,0,2.3,3,0,6,0,1,0,0,0
1,67,1,4,160,286,0,2,108,1,1.5,2,3,3,2,1,0,0,0
2,67,1,4,120,229,0,2,129,1,2.6,2,2,7,1,1,0,0,0
3,37,1,3,130,250,0,0,187,0,3.5,3,0,3,0,1,0,0,0
4,41,0,2,130,204,0,2,172,0,1.4,1,0,3,0,1,0,0,0

In [35]:
hungarian.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cleaveland,hungarian,switzerland,va
0,40,1,2,140,289,0,0,172,0,0.0,NaN,NaN,NaN,0,0,1,0,0
1,49,0,3,160,180,0,0,156,0,1.0,2,NaN,NaN,1,0,1,0,0
2,37,1,2,130,283,0,1,98,0,0.0,NaN,NaN,NaN,0,0,1,0,0
3,48,0,4,138,214,0,0,108,1,1.5,2,NaN,NaN,3,0,1,0,0
4,54,1,3,150,NaN,0,0,122,0,0.0,NaN,NaN,NaN,0,0,1,0,0

In [36]:
switzerland.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cleaveland,hungarian,switzerland,va
0,32,1,1,95,0,NaN,0,127,0,0.7,1,NaN,NaN,1,0,0,1,0
1,34,1,4,115,0,NaN,NaN,154,0,0.2,1,NaN,NaN,1,0,0,1,0
2,35,1,4,NaN,0,NaN,0,130,1,NaN,NaN,NaN,7,3,0,0,1,0
3,36,1,4,110,0,NaN,0,125,1,1.0,2,NaN,6,1,0,0,1,0
4,38,0,4,105,0,NaN,0,166,0,2.8,1,NaN,NaN,2,0,0,1,0

In [37]:
va.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,num,cleaveland,hungarian,switzerland,va
0,63,1,4,140,260,0,1,112,1,3.0,2,NaN,NaN,2,0,0,0,1
1,44,1,4,130,209,0,1,127,0,0.0,NaN,NaN,NaN,0,0,0,0,1
2,60,1,4,132,218,0,1,140,1,1.5,3,NaN,NaN,2,0,0,0,1
3,55,1,4,142,228,0,1,149,1,2.5,1,NaN,NaN,1,0,0,0,1
4,66,1,3,110,213,1,2,99,1,1.3,2,NaN,NaN,0,0,0,0,1